/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a {
  color: #8085C1;
}
  
a:hover { 
  color: #00a;
}

blockquote {
  padding: 0 0 0 2em;
  border-left: 0.4em solid #eee;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 150%;
  text-align: left;
  max-width: 700px;
  padding: 2em 1em;
  margin: 1em auto 1em;
  line-height: 1.5em;
}

header {
  border-bottom: 4px solid #eee;
  margin: 1em 0;
}

header h1 {
  margin: 0;
  font-weight: bold;
}

header .title {
  font-size: 2em;
  line-height: 2em;
}

header a {
  text-decoration: none;
}

nav {
  padding: 0.5em 0 0;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 0 0.8em 0 0;
  padding: 0.4em 0.6em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background: #f8f8f8;
}

nav ul li:hover {
  background: #eee;
}

main {
  line-height: 2em;
  margin: 1em 0;
}

main h2 {
  padding: 1em 0 0;
  font-size: 1.5em;
}

/****************************************************
list-of-entries
****************************************************/
main ul, main ol {
  padding: 0 0 0 2em;
}

main ul li, main ol li {
  line-height: 1.5em;
}
/****************************************************
end list-of-entries
****************************************************/

footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin: 1em 0;
}

footer ul {
  list-style-type: none;
  padding: 1em 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post p {
  margin: 1.5em 0 2em;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
